/SimpleEE6App72/nbproject/private/
/TimerTest/nbproject/private/
/TimerTest/build/
/TimerTest/dist/
/EASimpleLoginWithEJBsAndInterceptors/build/
/EASimpleLoginWithEJBsAndInterceptors/dist/
/findRoomieOld/nbproject/private/
/findRoomieOld/build/
/findRoomieOld/dist/